<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slog.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="static/images/skupne/Logo/Znak__URBAN JR_zelen.ico" type="image/x-icon">
    <title>Odjava admin</title>
</head>
<style>
    @font-face
    {
        font-family: Poppins;
        src: url("{{ url_for('static', filename='fonts/Poppins/Poppins-Regular.ttf') }}");
    }

    @font-face
    {
        font-family: Poppins-Bold;
        src: url("{{ url_for('static', filename='fonts/Poppins/Poppins-Bold.ttf') }}");
    }

    @font-face
    {
        font-family: Amatic;
        src: url("{{ url_for('static', filename='fonts/amatic-bold.ttf') }}");
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<body>
    <div class="bodyAdmin" style="background-image: url('static/images/index/DSC08271-58.JPG');background-size: cover;background-position: center;background-repeat: no-repeat;">
        <div class="naslov">
            <h1>ODJAVITE SE</h1>
            <form action="/action_page.php">
                <button id="odjavaAdmin" class="gumbiAdmin" onclick="logoutSession()" type="button">Odjava</button>
                <button id="logoutNazaj" class="gumbiAdmin" onclick="goBack()" type="button">Pojdi nazaj</button>
              </form>
        </div>
    </div>
</body>
<script>
    function logoutSession() {


    $.ajax({
        url: "/logoutSession",
        method: "POST",  // Ensure POST request

        success: function(result) {
            if(result.redirect_to) {
                // Redirect to the URL provided in the response
                window.location.href = result.redirect_to;
            }
        },

    });
}
</script>
<script>
    function goBack() {


    $.ajax({
        url: "/goBack",
        method: "POST",  // Ensure POST request

        success: function(result) {
            if(result.redirect_to) {
                // Redirect to the URL provided in the response
                window.location.href = result.redirect_to;
            }
        },

    });
}
</script>
</html>