<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Urban JR., Kmetija, EKO, Regenerativno kmetovanje, BIO, Kmetijska trgovina, Domači izdelki">
    <meta name="description" content="Kmetija v Dražgošah, ki vpeljuje principe regenerativnega kmetovanja.">
    <meta name="author" content="Izdelava spletnih strani Pintar, Jure Pintar">

    <link rel="stylesheet" href="slog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="icon" href="slike/skupne/Logo/Znak__URBAN JR_zelen.ico" type="image/x-icon">
    <title>Urban JR. - O nas</title>
</head>
<body>

    <div class="zacetnastranostali">
        <div class="ozadjeonas">
            <div class="temnoostali">
                <header>
                    <div class="logo">
                        <a href=""><img src="slike/skupne/Logo/1Logo__URBAN JR_horizontalen.png" alt="Logo"></a>
                    </div>
                
                    <div class="menutelefon" onclick="toggleMenu()">
                        <div class="crtica"></div>
                        <div class="crtica"></div>
                        <div class="crtica"></div>
                    </div>
                
                    <nav class="navmenu" id="navmenu">
                        <ul>
                            <li><a href="index.html">Domov</a></li>
                            <li><a href="onas.html">O nas</a></li>
                            <li><a href="trgovina.html">Trgovina</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="kontakt.html">Kontakt</a></li>
                            <div class="search" id="search">
                                <input type="text" placeholder="Poiščite na strani..." id="search-input">
                                <button class="gumbsearch" id="gumbsearch"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </ul>
                    </nav>
                    <div class="search-results" id="search-results"></div>
                </header>            

                <div class="nadozadjemostali">
                    <h1>O NAS</h1>
                    <p>Naša zgodba je prepletena z ljubeznijo do narave in tradicije. Zavezani smo k <span>trajnostnemu</span> in <span>odgovornemu</span> kmetovanju, kjer združujemo dediščino preteklosti z inovacijami prihodnosti. Na kmetiji ustvarjamo prostor za <span>skladen sožitje človeka in narave</span>, pri čemer spoštujemo ekosisteme in gradimo temelje za prihodnje generacije.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="drugastranonas">
        <div class="vsebina">
            <div class="text">
                <div class="naslov">
                    <h1>KDO SMO ?<br><span>DRUŽINA JELENC</span></h1>
                </div>
                <div class="texta">
                    <p>V življenju se srečujemo z mnogimi izzivi, vendar je najpomembnejše, da imamo pogum in odločnost, da se soočimo z njimi. Kadar imamo dovolj "jajc", smo pripravljeni tvegati in sprejeti nove izkušnje, ki nas oblikujejo v boljšo verzijo sebe. Ne glede na to, kako težki so dnevi, odločnost in pogum nas vodita skozi vsako oviro. Včasih je prav tisto, kar potrebujemo za uspeh, preprosto, da imamo dovolj vere v sebe in moč, da nadaljujemo, tudi kadar je pot težka.</p>
                    <p>Točno to je uspelo naši kmetiji URBAN JR. Z vztrajnostjo, trdim delom in pravo mero poguma smo premagali številne izzive ter ustvarili kakovostne in pristne izdelke. Naša strast do kmetovanja in predanost tradiciji sta nas pripeljali do uspeha, na katerega smo ponosni.</p>
                    <h2>SLEDI NAM NA DRUŽBENIH OMREŽJIH</h2>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/UrbanJr.Drazgose/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/urbanjr_drazgose/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="slike">
                <div class="enadve">
                    <img src="slike/onas/DSC08244-52.JPG" alt="Slika ena">
                    <img src="slike/onas/DSC08273-59.JPG" alt="Slika dva">
                </div>
                <div class="tri">
                    <img src="slike/onas/DSC07893-7.JPG" alt="Slika tri">
                </div>
            </div>
        </div>
    </div>

    <div class="tretjastranonas">
        <div class="vsebina">
            <h1>KAKO SE JE ZAČELA NAŠA ZGODBA</h1>
            <div class="slike">
                <div class="slikatext">
                    <div class="stevilka">
                        <p>1.</p>
                    </div>
                    <img src="slike/onas/DSC07893-7.JPG" alt="Slika ena">
                    <div class="text">
                        <h1>PREVZEM KMETIJE</h1>
                        <p>Naše potovanje se je začelo z odločitvijo, da nadaljujemo družinsko tradicijo in prevzamemo kmetijo, ki je že več generacij del naše družine. To ni bila lahka odločitev, saj kmetovanje zahteva ogromno truda, vztrajnosti in ljubezni do zemlje ter živali. Kljub začetnim izzivom smo s ponosom nadaljevali delo naših prednikov, ohranjali tradicionalne metode kmetovanja in jih postopoma nadgrajevali z novimi, sodobnejšimi pristopi. Danes smo veseli, da smo lahko del zgodbe, ki se je začela pred mnogimi leti, in jo nadaljujemo z enako strastjo in predanostjo.</p>
                    </div>
                </div>
                
                <div class="slikatext">
                    <div class="stevilka">
                        <p>2.</p>
                    </div>
                    <img src="slike/onas/DSC07901-8.JPG" alt="Slika dva">
                    <div class="text">
                        <h1>PIŠČANCI IN JAJCA</h1>
                        <p>Po prevzemu kmetije smo se odločili za prvo večjo spremembo – vzrejo piščancev in pridelavo svežih domačih jajc. Verjamemo v kakovost in naravne metode reje, zato smo ustvarili okolje, kjer imajo naše kokoši dovolj prostora za gibanje in dostop do sveže hrane. Kmalu smo opazili, da so domača jajca bistveno bolj okusna in hranljiva, kar so potrdili tudi naši prvi kupci. Skozi leta smo izboljšali pogoje za naše živali in razširili proizvodnjo, da lahko danes ponujamo vrhunske izdelke, pridelane z ljubeznijo in skrbnostjo.</p>
                    </div>
                </div>
                
                <div class="slikatext">
                    <div class="stevilka">
                        <p>3.</p>
                    </div>
                    <img src="slike/onas/DSC07907-9.JPG" alt="Slika tri">
                    <div class="text">
                        <h1>OSTALE ŽIVALI</h1>
                        <p>Kmetija je skozi leta rasla, zato smo se odločili dodati še druge živali, ki prispevajo k trajnostnemu načinu življenja. Postopoma smo začeli vzrejati ovce, koze in prašiče, ki igrajo ključno vlogo pri ohranjanju naravnega ravnovesja na kmetiji. Vsaka žival ima svojo vlogo – ovce in koze pomagajo pri ohranjanju pašnikov, prašiči pa so pomemben del ekosistema, saj zmanjšujejo odpadke in skrbijo za naravno obdelavo tal. Naša vizija je ustvariti samozadostno in trajnostno kmetijo, kjer narava in živali sobivajo v harmoniji.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cetrtastranonas">
        <div class="temnoonas">
            <h1>VIZIJE IN CILJI</h1>
            <p>Naša vizija temelji na ustvarjanju trajnostnega in naravi prijaznega kmetovanja, kjer se tradicija prepleta z inovacijami. Verjamemo v sklenjen krogotok narave, kjer vsak element prispeva k ravnovesju ekosistema. Naš cilj je razvijati in širiti prakse, ki podpirajo <span>harmonično sožitje živali, rastlin in tal</span>, hkrati pa zagotavljajo kakovostne, naravne pridelke. Z inovativnimi pristopi si prizadevamo za <span>odgovorno in sonaravno kmetovanje</span>, ki bo služilo tako današnjim kot prihodnjim generacijam.</p>
        </div>
    </div>

    <div class="petastrandrugiindex">
        <div class="poravnava">
            <footer>
                <div class="stolpec prvi">
                    <div class="logo">
                        <img src="slike/skupne/Logo/1Logo__URBAN JR_vertikalen.png" alt="Logotip">
                    </div>
                    <h2>SPLOŠNI PODATKI</h2>
                    <ul>
                        <li>URBAN JR | Dopolnilna dejavnost</li>
                        <li>Dražgoše 18</li>
                        <li>4228 Železniki</li>
                    </ul>
                </div>
                <div class="stolpec drugi">
                    <h2>KONTAKTI</h2>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/UrbanJr.Drazgose/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/urbanjr_drazgose/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=CllgCJTNHtKbNcdTdHVgvscSqCsJQNjLgdjWmrgDhVJbMHmMbsWCHmxKxHJxKzqLvCZfNQlKtXB" target="_blank"><i class="fa-regular fa-envelope"></i></a>
                        </li>
                        <li>urbanjr.drazgose@gmail.com</li>
                        <li>031 344 457 (Gorazd)</li>
                    </ul>
                </div>
                <div class="stolpec tretji">
                    <h2>PRAVNI PODATKI</h2>
                    <ul>
                        <li><a href="">Podjetje in kontaktni podatki</a></li>
                        <li><a href="">Politika zasebnosti</a></li>
                        <li><a href="">Pogoji poslovanja</a></li>
                    </ul>
                </div>
                <div class="stolpec cetrti">
                    <div class="text">
                        <i class="fa-solid fa-paper-plane"></i>
                        <p>Bodite obveščeni o novostih</p>
                    </div>
                    <form action="" class="emailform">
                        <input type="email" id="emailInput" placeholder="Vaš Email naslov" required
                            pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$">
                        <span id="emailStatus">
                            <span class="loading"></span>
                        </span>
                        <button type="submit" id="submitButton">Prijavite se</button>
                    </form>
                </div>
            </footer>
        </div>
        
        <div class="petastrantretjiindex">
            <p>© 2025 URBAN JR. | Vse pravice pridržane</p>
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=CllgCJNsLqLBFFTldxbGjxDnMLkPrctxvjkFJTxWZVqTxGpctGMpMwqjQGxsGPLBnNBHMppSzcL">Izdelava spletne strani</a>
        </div>
    </div>


<!--/* Tukaj je za telefonprikaz meni */ -->
<script>
    function toggleMenu() {
        let menu = document.getElementById("navmenu");
        let menuButton = document.querySelector(".menutelefon");

        menu.classList.toggle("active");
        menuButton.classList.toggle("active");
    }
</script>
<!--/* Tukaj je za telefonprikaz meni */ -->

<!--/* Tukaj je za search bar scripta */ -->
<script>
document.getElementById('search-input').addEventListener('input', function() {
let query = this.value.toLowerCase(); // pridobi iskalni niz
let results = []; // shranjujemo rezultate iskanja
let searchResultsContainer = document.getElementById('search-results');
searchResultsContainer.innerHTML = ''; // Preden začnemo iskanje, očistimo obstoječe rezultate

if (query.length > 0) {
    // Poišči vse elemente na strani, ki vsebujejo besedilo (npr. h1, p)
    let elementsToSearch = document.querySelectorAll('h1, h2, p, li, span');
    
    elementsToSearch.forEach(function(element) {
        if (element.textContent.toLowerCase().includes(query)) {
            results.push(element); // Dodamo element v rezultate
        }
    });

    // Prikaz rezultatov
    if (results.length > 0) {
        searchResultsContainer.style.display = 'block'; // Prikaz rezultatov
        results.forEach(function(result) {
            let resultItem = document.createElement('p');
            resultItem.textContent = result.textContent.substring(0, 100) + '...'; // Prikaz delnega besedila
            resultItem.addEventListener('click', function() {
                result.scrollIntoView({ behavior: 'smooth', block: 'start' }); // Pomakne na element
                searchResultsContainer.style.display = 'none'; // Skrije rezultate iskanja po kliku
            });
            searchResultsContainer.appendChild(resultItem);
        });
    } else {
        searchResultsContainer.style.display = 'none'; // Ni rezultatov, skrijemo
    }
} else {
    searchResultsContainer.style.display = 'none'; // Skrijemo, ko je iskalnik prazen
}
});

document.getElementById('gumbsearch').addEventListener('click', function() {
let query = document.getElementById('search-input').value.toLowerCase(); // pridobi iskalni niz
if (query.length > 0) {
    document.getElementById('search-input').dispatchEvent(new Event('input')); // Simulira input dogodek, da prikaže rezultate
}
});


</script>

<!--/* Tukaj je za search bar scripta */ -->


<!--/* Tukaj je za cekiranje ce je mail prav napisan*/ -->
<script>
    document.getElementById("emailInput").addEventListener("input", function () {
let email = this.value;
let emailStatus = document.getElementById("emailStatus");
let emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

let loadingIndicator = document.createElement("span");
loadingIndicator.classList.add("loading");

emailStatus.innerHTML = ""; // Počisti prejšnjo vsebino
emailStatus.appendChild(loadingIndicator); // Dodaj loading krogec
loadingIndicator.style.display = "inline-block";

setTimeout(() => {
    if (emailRegex.test(email)) {
        emailStatus.innerHTML = "✅";
        emailStatus.style.color = "green";
    } else {
        emailStatus.innerHTML = "❌";
        emailStatus.style.color = "red";
    }
}, 500); // Počakaj 0,5s preden pokaže rezultat
});
</script>
<!--/* Tukaj je za cekiranje ce je mail prav napisan*/ -->

</body>
</html>